.header-container {
  border-bottom: 3px solid black;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-container-title-menu-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-container-title {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-size: 2rem;
}

.header-container-element {
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.header-container-element-ball {
  height: 2rem;
  width: 2rem;
  margin-top: 0.5rem;

  border-radius: 50%;
  display: block;
}

.header-container-menu {
  display: flex;
  flex-direction: row;
}

.header-container-menu-button {
  display: none;
}

@media only screen and (max-width: 480px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }

  .header-container-element-ball {
    margin-top: 0.15rem;
  }

  .header-container-menu {
    display: none;
  }
  .header-container-menu-button {
    padding: 1rem;
    display: block;
    font-size: 1rem;
  }

  .header-container-element {
    text-decoration: none;
    border-bottom: 1px solid white;
  }
}
